<ion-view view-title="SchoolBook" align-title="left" cache-view="false" ng-init="init()">
    <ion-header-bar style="background: #096D8F">
        <button class="button button-icon icon ion-chevron-left icon-yellow" ng-click="back()"></button>
    </ion-header-bar>
    <ion-content style="background: url(img/background1.png) center; background-size: cover;">
        <div class="list">
            <div class="control-center40">
                <a class="font-title-white1">SchooL</a><a class="font-title-red1">BooK</a>
            </div>
            <label style="margin-top: 0 !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important;" class="item input-no-border control-center80">
                <a style="margin-right: 10px; margin-left: 10px;" class="font24r">Asunto:</a>
                <a class="font20w">el asunto </a>
            </label>
            <label style="margin-top: 0 !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important;" class="item input-no-border control-center80">
                <a style="margin-right: 10px; margin-left: 10px;" class="font24r">Remitente:</a>
                <a class="font20w">nombre del remitente</a>
            </label>
            <br>
            <div>
                <textarea class="textBox-custom control-center80 placeholder-input24 font24w" rows="23" cols="40" placeholder="Escriba su mensaje..."></textarea>
            </div>
            <button class="button button-small button-block ion-forward icon-right control-center80 button-blue icon-yellow button-small">
                <a class="font20w">Responder</a>
            </button>
        </div>
    </ion-content>
</ion-view>
